{% extends 'layouts/tienda.html' %}{% load static %} {% block content %}

<div class="min-vh-100 d-flex flex-colum py-2">
    <div class="container">
        <h3 class="animate__animated animate__bounceInDown animate__delay-0.3s text-central py-4">Soluciones en Piscinas Uruguay</h3>
        <div class="row py-auto">
            <div class="col-lg-8">
                <p class="animate__animated animate__backInRight animate__delay-0.3s text-justify">
                Mi nombre es Francisco Gomez De Leon. Estoy muy contento y entusiasmado de seguir estudiando y progresando en CoderHouse.
                Soy de Uruguay vivo en Canelones "ciudad de la costa". El proyecto lo realize solo debido a mi tiempos libres que son entrecortados.
                El proyecto lo enfoque en mi rubro que es a lo que me dedico en la actualidad.
                Trabajo de forma independiente hace 10 años.
                Sufri la perdida de mi padre debido a un accidente de transito hace 9 meses y estudiar es lo que me ha sacado un poco de esta trajica situacion.
                Fui estudiante de java hace 10 años. El volver a estudiar fue un empezar de cero.
                Espero que este proyecto sea de agrado para ustedes.
                Slds. Atte. Francisco Gomez De Leon.

                </p>
                <p class="animate__animated animate__backInRight animate__delay-0.3s text-justify">
                    
                </p>
            </div>

            <div class="col-lg-4 animate__animated animate__bounceInUp animate__delay-0.4s ">
                <img class="img-fluid ml-auto" src="{% static 'assets/Francisco.jpg' %}" alt="Francisco">
            </div>

        </div>
        <div class="row animate__animated animate__bounceInUp animate__delay-1s">
            <p class="mb-1">Teléfono: +598 091890414 | solucionesenpiscinasuruguay@gmail.com</p>
            <p> Canelones, Uruguay</p>
        </div>
    </div>
</div>

{% endblock %}