{% extends 'layouts/tienda.html' %} {% block content %}

<div class="min-vh-100 d-flex flex-colum py-4">
    <div class="container">
        <h3 class="animate__animated animate__bounceInDown animate__delay-0.2s text-center">CONTACTO</h3>
        <div class="row">
            <div class="col-lg-6 col-sm-04 mx-auto animate__animated animate__bounceInUp animate__delay-0.3s">
                {% load crispy_forms_tags %}
                <form method="post" action="">
                    {% csrf_token %} {{ form | crispy }}
                    <div class="justify-content-center">
                        <button type="reset" class="btn btn-secondary mt-1 mx-2" button ">Cancelar</button>
                        <button type="submit " class="btn btn-danger mt-1 " button ">Enviar</button>
                    </div>
                </form>
            </div>
            <div class="col-lg-6 col-sm-04 mt-4 rounded animate__animated animate__backInRight animate__delay-0.4s embed-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3275.8336100420643!2d-55.93221058518771!3d-34.81012777595478!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x959f8a24214c53a1%3A0xea4437fda2274f93!2sKiy%C3%BA%201213%2C%2015800%20Ciudad%20de%20la%20Costa%2C%20Departamento%20de%20Canelones!5e0!3m2!1ses-419!2suy!4v1657461966722!5m2!1ses-419!2suy" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>"
                    style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
    </div>
</div>
{% endblock %}