{% extends 'layouts/tienda.html' %}{% load static %} {% block content %}

<div class="min-vh-100 d-flex flex-colum py-2">
    <div class="container">
        <h3 class="animate__animated animate__bounceInDown animate__delay-0.3s text-central py-4">Soluciones en Piscinas Uruguay</h3>
        <div class="row py-auto">
            <div class="col-lg-8">
                <p class="animate__animated animate__backInRight animate__delay-0.3s text-justify">
                Somos una empresa que se encarga de la instalación y reparacion de piscinas en Uruguay. Contamos con una amplia gama de productos y servicios que pueden ser utilizados por todos los tipos de clientes.
                Nos caracteriza la responsabilidad de ofrecer un servicio de calidad y una atención personalizada.

                </p>
                <p class="animate__animated animate__backInRight animate__delay-0.3s text-justify">
                    
                </p>
            </div>

            <div class="col-lg-4 animate__animated animate__bounceInUp animate__delay-0.4s ">
                <img class="img-fluid ml-auto" src="{% static 'assets/fondo.jpg' %}" alt="team">
            </div>

        </div>
        <div class="row animate__animated animate__bounceInUp animate__delay-1s">
            <p class="mb-1">Teléfono: +598 091890414 | solucionesenpiscinasuruguay@gmail.com</p>
            <p> Canelones, Uruguay</p>
        </div>
    </div>
</div>

{% endblock %}